body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(21, 22, 24);
    color: aliceblue;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.form-card {
    background-color: #242121;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(41, 38, 38, 0.1);
    overflow: hidden; 
}

.form-card form div {
    display: flex;
    flex-direction: column; /* Apilar label, input, span verticalmente */
    margin-bottom: 10px;
}

.form-card span {
    font-size: 1em;
    margin-top: 4px;
    word-wrap: break-word; 
    display: block;
}

input {
    background-color: transparent;
    border: none;
    color: #ddd;
    border-bottom: 1px solid white;
}

input:focus {
    outline: none;
    border-bottom: 1px solid rgb(79, 165, 235);
}

.msg_ok {
    color: greenyellow;
}

.msg_error {
    color: red;
}

nav {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

nav button, button[type='reset'] {
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 1.1em;
}